/EducationExperienceService.class
/InteriorRecommendService.class
/ProjectExperienceService.class
/ResumeAssessService.class
/ResumeEamilService.class
/ResumeFileService.class
/ResumeService.class
/TrainingExperienceService.class
/WorkExperienceService.class
